.ol-attribution {
  display: none;
}
.ol-zoom {
  bottom: 20px;
  right: 20px;
  left: auto;
  top: auto;
}
.App {
  position: relative;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 20px);
  height: 66px;
  z-index: 1;
}
.search-container {
  position: relative;
}
.search {
  position: absolute;
  left: 30px;
  top: 23px;
}
.App {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#map {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.modal {
  position: absolute;
  overflow: inherit;
  width: 460px;
  left: 30px;
  top: 98px;
  background: white;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  right: auto;
  bottom: auto;
}

.modal .item-modal {
  align-items: center;
  display: flex;
  min-height: 58px;
}

.modal .header-modal {
  margin: 25px 30px;
  font-weight: 700;
  line-height: 25px;
  font-size: 18px;
}
.modal .value.adres div:first-child {
  padding-right: 30px;
}

.modal .value.adres {
  position: relative;
  color: #121ada;
}

.modal .icon-value,
.modal .value {
  display: inline-block;
}

.modal .icon-value.no-pd {
  margin-top: 0;
}

.modal .icon-value {
  width: 40px;
  margin-top: -35px;
  margin-left: 10px;
}
.modal .value {
  width: calc(100% - 50px);
}

.mobile .modal,
.tablet .modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mobile .modal-dialog,
.tablet .modal-dialog,
.mobile .modal-content,
.tablet .modal-content {
  height: 100%;
}

.mobile .search {
  top: 0;
  left: 17px;
  right: 0;
}

.mobile .header {
  width: 100%;
}

.mobile .search-container {
  width: 80%;
}
